<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>190235182578-up4cv5784nbgc7h30octrhv8agd8v7k1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.190235182578-up4cv5784nbgc7h30octrhv8agd8v7k1</string>
	<key>API_KEY</key>
	<string>AIzaSyBE2dMvjGTmLfc1b-0tVtSjDtcHQdoa88g</string>
	<key>GCM_SENDER_ID</key>
	<string>190235182578</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>furkanc.TwitterSwiftUIApp</string>
	<key>PROJECT_ID</key>
	<string>twitterswiftui-a5533</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterswiftui-a5533.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:190235182578:ios:ca43ef0ae3df0d8fcc576b</string>
</dict>
</plist>